.login-wrapper {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    text-align: center;
}

.login-wrapper .box {
    margin: 0 auto;
    padding: 35px 0 30px;
    float: none;
    width: 400px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.65);
}

.login-wrapper .box .content-wrap {
    width: 82%;
    margin: 0 auto;
}

.login-wrapper .box .login {
    text-transform: uppercase;
    font-size: 13px;
    padding: 8px 30px;
}

@media (max-width: 767px) {
    .login-wrapper .box {
        width: 350px;
    }
}

@media (max-width: 480px) {
    .login-wrapper .box {
        width: 90%;
    }
}